/******************** RESET CSS ********************/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
}

p {
    max-width: 65ch;
}

img, video, picture, svg, canvas {
    display: block;
    max-width: 100%;
}

input, select, textarea, button {
    font: inherit;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}
/******************** RESET CSS ********************/
